@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Inter:ital,opsz,wght@1,14..32,100..900&display=swap");

:root {
  font-family: "Figtree", sans-serif;

  /* color-scheme: light dark; */

  --light-text: rgb(0, 0, 0);
  --light-bg: #d3d3d3;
  --light-box: rgba(59, 246, 117, 0.18);
  --light-accent: #3bf675;
  --light-card: #dddddd;
  --light-title: rgb(0, 0, 0);

  --dark-text: rgb(255, 255, 255);
  --dark-bg: #2d2d2d;
  --dark-box: rgba(59, 246, 117, 0.27);
  --dark-accent: #030a04;
  --dark-title: #3bf675;

  --info-size: 12px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* * {
  background-color: light-dark(var(--light-bg), var(--dark-bg));
  color: light-dark(var(--light-text), var(--dark-text));
} */

ul,
ol,
h1,
h2,
h3,
h4,
p {
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  display: flex;
  place-items: center;
  width: 100vw;
  height: 100vh;
}

#root {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  padding: 7px 22px;
  border: none;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3em;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.EZDrawer__container {
  background-color: var(--light-bg) !important;
  color: var(--text-color) !important;
  z-index: 9999 !important;
  position: fixed;
  height: 85vh !important;
}

.EZDrawer__overlay {
  z-index: 9998 !important;
}

/* (phones, 600px and down) */
@media (max-width: 600px) {
}

/* (tablets, 601px to 768px) */
@media (min-width: 601px) and (max-width: 768px) {
}

/* (laptops, 769px to 1024px) */
@media (min-width: 769px) and (max-width: 1024px) {
}

/* (desktops, 1025px and up) */
@media (min-width: 1025px) {
}
