.followers-content {
  width: 100%;
  height: 100%;
  margin: 0;
}

.requests-container > h3 {
  margin: 8px 0 8px 0;
}

.request-alert {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  margin: 5px 0 5px 0;
}

.button-container {
  display: flex;
  flex-direction: row;
}

.accept {
  background-color: blue;
  height: 30px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.deny-button {
  background-color: transparent;
  height: 30px;
  width: 30px;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
}

.search-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-10%);
}

.search-icon > * {
  position: relative;
  left: 8px;
  color: #b1b1b1;
}

.search-wrapper {
  display: flex;
  align-items: center;
  position: relative;
  width: 98%;
}

.search-bar {
  width: 100%;
  padding: 0.7em 1em;
  margin-top: 12px;
  border-radius: 8px;
  background-color: white;
  color: #000000;
  outline: none;
  border: none;
  text-align: left;
  font-size: 1em;
  box-sizing: border-box;
}

.followers-section {
  margin-top: 4px;
  background-color: var(--bg-color);
  width: 100%;
}

.follower-list {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.followers-section > h3 {
  margin: 18px;
  padding-top: 8px;
}

.followers-section > ul {
  padding-bottom: 8px;
}

.follower-container {
  display: flex;
  width: 100%;
  height: 3.5rem;
  border-radius: 5px;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: var(--light-card);
}

.follow-btn-container {
  width: 45%;
  display: flex;
  justify-content: end;
}

.name-container {
  width: 45%;
}

.status-cont {
  height: 30px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.follow-btn-container > button {
  height: 30px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  border: 1px solid rgb(143, 143, 143);
  background-color: transparent;
  color: black;
  font-size: 1rem;
}
