.forecast {
  height: 165px;
  margin: 5px 0 10px;
  width: 100vw;
  background-color: light-dark(var(--light-box), var(--dark-box));
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 3px rgba(158, 158, 158, 0.75);
}

.forecast-content {
  width: 90%;
}

.forecast-heading {
  margin: 1rem 0 1rem 0;
}

h5 {
  margin: 10px 0 10px 0;
}

.main-content {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.cond-text-cont {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 1rem 0;
}

.weather-cont {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.posts-section {
  width: 98%;
}

.posts-list {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.post-card {
  border-radius: 19px;
  width: 100%;
  height: 170px;
  background-color: light-dark(var(--light-box), var(--dark-box));
  margin-bottom: 14px;
  box-shadow: 3px 3px 7px rgba(170, 170, 170, 0.75);
}

.stats-cont {
  display: flex;
  flex-direction: row;
}

.content-container {
  margin: 1.5rem 6rem 1rem 1.8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.post-user-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  gap: 0.2rem;
}

.post-user-info * {
  font-style: italic;
}

.post-user-info > p {
  font-size: var(--info-size);
}

.title-desc-cont {
  margin: 0.8rem 0 0.8rem 0;
}

.post-title {
  margin-top: 10px;
  font-size: 20px;
  font-style: italic;
}

.stats-cont {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  gap: 5em;
}

.stats-box > p {
  font-size: var(--info-size);
}

.stats-box > h5 {
  margin: 0.2rem 0;
}
