.search-content {
  width: 100vw;
  height: 100vh;
  background-color: var(--light-bg);
}

.search-container {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
}

.search-button {
  position: absolute;
  max-width: 30px;
  top: 49%;
  right: 1px;
  transform: translateY(-22%);
  background-color: #818181;
  height: 12px;
  margin-right: 5px;
}

.search-icon-overlay {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 7px;
  color: #0a0a0a;
}

.result-container {
  margin-top: 25px;
}

.result-container > h5 {
  margin: 0 0 10px 10px;
}

.found-user {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin: 5px 10px 5px 10px;
}

.follow-action-container {
  height: 30px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 1px solid var(--text-color);
}
