.leaflet-container {
  width: 100vw;
  height: 100vh;
  z-index: 0;
  position: fixed;
}

.stopwatch-container {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 5rem;
  background-color: black;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  justify-content: space-around;
}

.stopwatch-buttons {
  width: 113px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.stopwatch-button {
  width: 56px;
  transition: transform 0.4s ease;
  margin: 0 5px;
}

.play {
  background-color: blue;
}

.pause {
  background-color: aliceblue;
}

.play,
.pause {
  z-index: 1;
}

.stop {
  z-index: 0;
  background-color: red;
}

.slide-left {
  transform: translateX(34px);
}

.slide-right {
  transform: translateX(-32px);
}
