.leaflet-container {
  width: 100vw;
  height: 100vh;
  z-index: 0;
  position: fixed;
  margin-top: -1em;
}

.leaflet-top {
  margin-top: 1em;
}

.stopwatch-container {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 5rem;
  background-color: var(--light-bg);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  box-shadow: 3px 3px 7px rgba(170, 170, 170, 0.75);
}

.stopwatch-buttons {
  width: 113px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 0.3em;
}

.stopwatch-button {
  width: 55px;
  transition: transform 0.4s ease;
}

.stopwatch-button > svg {
  color: black;
}

.play {
  background-color: var(--light-accent);
}

.pause {
  background-color: aliceblue;
}

.play,
.pause {
  z-index: 1;
}

.stop {
  z-index: 0;
  background-color: var(--light-box);
}

.slide-left {
  transform: translateX(29px);
}

.slide-right {
  transform: translateX(-30px);
}

path {
  stroke: #3bf675;
}

.top-icon {
  font-size: 16px;
  color: #3bf675;
  margin-top: -0.5em;
  margin-left: -0.2em;
}

.bottom-icon {
  -webkit-animation: breathing 1s ease-out infinite normal;
  animation: breathing 1.3s ease-out infinite normal;
  -webkit-font-smoothing: antialiased;
  color: #3bf675;
}

@-webkit-keyframes breathing {
  0% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }

  25% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  60% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }

  100% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}

@keyframes breathing {
  0% {
    -webkit-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);
  }
}

.drawer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-container {
  margin: 1.5em;
}

form {
  display: flex;
  align-items: center;
}

.title-cont {
  width: 80%;
  display: flex;
  align-items: center;
  border: 1px solid rgb(112, 112, 112);
  border-radius: 7px;
  padding: 1em;
}

.activity-title {
  background-color: transparent;
  border: none;
  width: 100%;
}

input.activity-title:focus,
input.activity-title:hover {
  width: 100%;
  outline: none;
  border: none;
  box-shadow: none;
  background-color: transparent;
  color: black;
}

.stats-container {
  display: flex;
  flex-direction: row;
  width: 80%;
  gap: 4em;
  margin: 1em;
}

.button-container {
  width: 90%;
}

.back-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.5em;
}

.close-button {
  width: 40px;
  height: 6px;
  margin: 0;
  padding: 0;
  background-color: rgb(160, 160, 160);
}
