.leaflet-container {
  width: 100vw;
  height: 100vh;
  z-index: 0;
  position: fixed;
  margin-top: -1em;
}

.leaflet-top {
  margin-top: 1em;
}

.stopwatch-container {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 5rem;
  background-color: var(--light-bg);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  justify-content: space-evenly;
}

.stopwatch-buttons {
  width: 113px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 0.3em;
}

.stopwatch-button {
  width: 55px;
  transition: transform 0.4s ease;
}

.stopwatch-button > svg {
  color: black;
}

.play {
  background-color: var(--light-accent);
}

.pause {
  background-color: aliceblue;
}

.play,
.pause {
  z-index: 1;
}

.stop {
  z-index: 0;
  background-color: var(--light-box);
}

.slide-left {
  transform: translateX(29px);
}

.slide-right {
  transform: translateX(-30px);
}

path {
  stroke: #3bf675;
}

.top-icon {
  font-size: 16px;
  color: #3bf675;
  margin-top: -0.5em;
  margin-left: -0.2em;
}

.bottom-icon {
  -webkit-animation: breathing 1s ease-out infinite normal;
  animation: breathing 1.3s ease-out infinite normal;
  -webkit-font-smoothing: antialiased;
  color: #3bf675;
}

@-webkit-keyframes breathing {
  0% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }

  25% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  60% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }

  100% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}

@keyframes breathing {
  0% {
    -webkit-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);
  }

  /* 25% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  } */

  /* 60% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }

  100% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  } */
}
