.main {
  margin-top: 69px;
}

.main-content {
  padding: 0;
  margin: 0;
}

.header {
  z-index: 1;
  position: fixed;
}

.navbar {
  z-index: 9999;
  position: fixed;
}

.layout {
  background-color: light-dark(var(--light-bg), var(--dark-bg));
}
